.nullValue{ :test => @nullValue }= @nullValue
.undefinedValue{ :test => @undefinedValue }= @undefinedValue
.nullValue{ :test => @nullValue }!= @nullValue
.undefinedValue{ :test => @undefinedValue }!= @undefinedValue
.nullValue{ :test => @nullValue }&= @nullValue
.undefinedValue{ :test => @undefinedValue }&= @undefinedValue

.nullValue
  = @nullValue
.undefinedValue
  = @undefinedValue
.nullValue
  != @nullValue
.undefinedValue
  != @undefinedValue
.nullValue
  &= @nullValue
.undefinedValue
  &= @undefinedValue
  
%div{ id: @nullValue, class: @nullValue }
%div{ id: @undefinedValue, class: @undefinedValue }