%h1{ :foo => "headline", :bar=>"doo",:baz =>    "doo", :'data-provider'=>"fpp" }
  Hello <> World
  %img{ :src => "/images/foobar.png", :alt => "#{@project_title}" }
  %img{ :src => "/images/foobar.png", :alt => @project_title }
%h2{ :a => "b" }
  adfdf
%h3= "#{@project_title} - 123"
%img{ :src => "/images/foobar.png", :alt => "#{ @project_title }" }
- a = 0
- if 1 == 1
  %section.content
    %ul
      - for item in @items
        %li
          - if item == @items[0]
            .first.text
              = item
            %h1
              foo
          - else
            .text
              = item + 'a'
            .text
              = item + 'b'
            %h1
              Hello
          - if item == @items[1]
            foo
          - else
            bar
