#page{:style => 'font-family: "Lucida Grande", "Verdana"; text-align: center'}
#page{:style => "font-family: \"Lucida Grande\", \"Verdana\"; text-align: center"}
#page{:style => "font-family: 'Lucida Grande', 'Verdana'; text-align: center"}
#page{:style => 'font-family: \'Lucida Grande\', \'Verdana\'; text-align: center'}

%a{ href: '#', title: "This shouldn't be a double quote" } Works now
%a{ href: '#', title: 'Say "hi"' } To me

- name = 'Michael'
%div{ hi: name }
%div{ hi: "Hi #{ name }!" }

%div{ hi: "Hi #{ name }'!'" }
%div{ hi: "Hi #{ name }\"!\"" }

%div{ hi: "Hi #{ name } and #{ "'#{ name }'" }!" }

- theclass = 'test'
.clazz{ class: theclass }
.clazz{ class: 'hi' + theclass }
.clazz{ class: "hi#{ theclass }" }

- str = "It's a wonderful life"
%a(title=str) One
%a(title="#{str}") Two